h1 {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: large;
}

body {
    font-family: "Roboto Flex", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: medium;
}